.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
    overflow: hidden;
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EAECF8;
    backdrop-filter: hue-rotate(290deg) saturate(50%) contrast(90%);
    z-index: -1;
  }
  
  .hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
    font-weight: 800;
    letter-spacing: 0.8rem;
  }
  
  .hero .p {
    font-size: 16px;
    letter-spacing: 0.2rem;
    font-weight: 200;
  }
  
  .content h2 {
    font-size: 150%;
    margin: 20px 0;
    text-transform: uppercase;
  }
  
  .content .p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 700px) {
    .hero h1 {
      font-size: 30px;
    }
  
    .nav .container {
      display: flex;
      flex-direction: column;
    }
  
    .nav .logo {
      display: none;
    }
  }
  
  
  .girl{
    width: 40%;
    height: auto;
margin-top: 150px;


    z-index: -1;
position:absolute;
}


.grup1{
    width: 87px;
    height: 623px;
    left:0px;
position:absolute;
}

.japan{
    width: 400px;
height: 400px;
margin-top: 250px;
left: 0px;
position: absolute;
}


.japan2{
    width: 411px;
    height: 204px;
    top: 35px;
    left: 0px;
    
position:absolute;
}

.grup2{
    width: 281.36px;
height: 53.67px;
top: 75px;

position:absolute;
}


.japan3{
    width: 446px;
    height: 357px;
    top: -8px;
    right: 0px;

    
position:absolute;
}

.grup3{
    width: 236px;
    height: 504px;
    top: 140px;
    
    

position:absolute;
right: 0px;
}