
.home{
    width: 100%;
}
.gfg {
    width:auto;
    text-align:center;
    align-items: center;
    background-color: #EAECF8;

    
    
}



.grup1{
    width: 237px;
    height: 1123px;
    top: 58px;
    left:0px;
position:absolute;
}

.japan{
    width: 740px;
height: 740px;
top: 379px;
left: 0px;
position: absolute;
}


.japan2{
    width: 651px;
    height: 344px;
    top: 35px;
    left: 0px;
    
position:absolute;
}

.grup2{
    width: 581.36px;
height: 133.67px;
top: 75px;

position:absolute;
}

.girl{
    width: 45%;
    height: auto;
    top: 247px;


    
position:absolute;
}

.japan3{
    width: 896px;
    height: 687px;
    top: -58px;
    right: 0px;

    
position:absolute;
}

.grup3{
    width: 436px;
    height: 704px;
    top: 340px;
    
    

position:absolute;
right: 0px;
}




